backend/step_functions/lead_generation.json
{
  "Comment": "Lead Generation Workflow - Generate, deduplicate, await approval, save if approved",
  "StartAt": "GenerateLeads",
  "States": {
    "GenerateLeads": {
      "Type": "Task",
      "Resource": "${GenerateLeadsArn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WorkflowFailed", "ResultPath": "$.error"}],
      "Next": "CheckDuplicate"
    },
    "CheckDuplicate": {
      "Type": "Task",
      "Resource": "${CheckDuplicateArn}",
      "ResultPath": "$",
      "Retry": [{"ErrorEquals": ["Lambda.ServiceException"], "IntervalSeconds": 2, "MaxAttempts": 2}],
      "Next": "IsDuplicate"
    },
    "IsDuplicate": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isDuplicate",
          "BooleanEquals": true,
          "Next": "DuplicateFound"
        }
      ],
      "Default": "WaitForLeadApproval"
    },
    "DuplicateFound": {
      "Type": "Succeed"
    },
    "WaitForLeadApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${CreateApprovalArn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "workflowType": "lead_approval",
          "data.$": "$"
        }
      },
      "ResultPath": "$.approvalResult",
      "TimeoutSeconds": 3600,
      "HeartbeatSeconds": 3000,
      "Catch": [
        {
          "ErrorEquals": ["States.HeartbeatTimeout", "States.Timeout"],
          "Next": "ApprovalExpired",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["Rejected"],
          "Next": "LeadRejected",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SaveLead"
    },
    "SaveLead": {
      "Type": "Task",
      "Resource": "${SaveLeadArn}",
      "ResultPath": "$",
      "Retry": [{"ErrorEquals": ["Lambda.ServiceException"], "IntervalSeconds": 2, "MaxAttempts": 3}],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WorkflowFailed", "ResultPath": "$.error"}],
      "End": true
    },
    "LeadRejected": {
      "Type": "Succeed"
    },
    "ApprovalExpired": {
      "Type": "Succeed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "WorkflowError",
      "Cause": "An error occurred in the lead generation workflow"
    }
  }
}