backend/step_functions/social_product.json
{
  "Comment": "Social Product Post Workflow — Get orders, generate post, queue for save-approval. Publishing triggered separately from Content page.",
  "StartAt": "GetOrders",
  "States": {
    "GetOrders": {
      "Type": "Task",
      "Resource": "${GetOrdersArn}",
      "ResultPath": "$",
      "Retry": [{"ErrorEquals": ["Lambda.ServiceException"], "IntervalSeconds": 2, "MaxAttempts": 3}],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WorkflowFailed", "ResultPath": "$.error"}],
      "Next": "GenerateSocialPost"
    },
    "GenerateSocialPost": {
      "Type": "Task",
      "Resource": "${GeneratePostArn}",
      "ResultPath": "$",
      "Retry": [{"ErrorEquals": ["Lambda.ServiceException"], "IntervalSeconds": 5, "MaxAttempts": 3}],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WorkflowFailed", "ResultPath": "$.error"}],
      "Next": "IsPostDuplicate"
    },
    "IsPostDuplicate": {
      "Type": "Choice",
      "Choices": [
        {"Variable": "$.isDuplicate", "BooleanEquals": true, "Next": "DuplicatePost"}
      ],
      "Default": "WaitForSaveApproval"
    },
    "DuplicatePost": {"Type": "Succeed"},
    "WaitForSaveApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${CreateApprovalArn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "workflowType": "social_product",
          "approvalGate": "save",
          "data.$": "$"
        }
      },
      "ResultPath": "$.approvalResult",
      "TimeoutSeconds": 604800,
      "HeartbeatSeconds": 86400,
      "Catch": [
        {"ErrorEquals": ["States.HeartbeatTimeout", "States.Timeout"], "Next": "ApprovalExpired", "ResultPath": "$.error"},
        {"ErrorEquals": ["Rejected"], "Next": "PostDiscarded", "ResultPath": "$.error"}
      ],
      "Next": "SaveApproved"
    },
    "SaveApproved":   {"Type": "Succeed"},
    "PostDiscarded":  {"Type": "Succeed"},
    "ApprovalExpired":{"Type": "Succeed"},
    "WorkflowFailed": {"Type": "Fail", "Error": "WorkflowError"}
  }
}